* {
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

/*Custom scroll bars */
::-webkit-scrollbar {
    width: 10px;
    /*display: none;*/
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url(../images/preloader.gif) center no-repeat #fff;
    /* ../images/abc.gif */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #232323;
}

.marBot15px {
    margin-bottom: 15px;
}

.noMar {
    margin: 0px;
}

.floatRight {
    float: right;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex.col {
    flex-direction: column;
}

.flex.perfect-center {
    justify-content: center;
    align-items: center;
}

.flex.vertical-center {
    align-items: center;
}

.flex.vertical-start {
    align-items: flex-start;
}

.flex.vertical-end {
    align-items: flex-end;
}

.flex.horizontal-center {
    justify-content: center;
}

.flex.horizontal-start {
    justify-content: flex-start;
}

.flex.horizontal-end {
    justify-content: flex-end;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.page-overlay {
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(35, 35, 35, 0.9);
    z-index: 9999;
}

.overlay-img-loader {
    color: white;
    font-size: 3rem;
}

.overlay-img {
    padding: 10px;
    background: white;
    max-height: calc(100vh - 20px);
    max-width: calc(100vw - 20px);
}

.slash {
    background: rgb(35, 35, 35);
    float: right;
    margin-right: 30px;
    width: 70px;
    display: block;
    cursor: pointer;
    display: flex;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.slash:before {
    content: "";
    background: #ababab;
    width: 2px;
    height: 50px;
    transform: rotate(45deg);
    display: block;
    transition: 0.1s background ease-in-out;
}

.slash:after {
    content: "";
    background: #ababab;
    width: 2px;
    height: 50px;
    transform: rotate(-45deg);
    display: block;
    transition: 0.1s background ease-in-out;
}

.slash:hover:before {
    background: #fff;
    animation: rotateLeft 0.5s linear 0.2s;
}

.slash:hover:after {
    background: #fff;
    animation: rotateRight 0.5s linear 0.2s;
}

@keyframes rotateLeft {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(75deg);
    }

    50% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(75deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(-75deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(-75deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.slideshow-direction {
    position: absolute;
    top: calc(50vh - 22px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(35, 35, 35, 0.8);
}

.slideshow-direction:hover {
    background: rgb(35, 35, 35) !important;
    color: white !important;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.slideshow-direction-left {
    left: 20vw;
}

.slideshow-direction-right {
    right: 20vw;
}

.slideshow-direction i {
    font-size: 32px;
}

.custom-navbar {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    justify-content: space-between;
}

.custom-navbar.dark-nav {
    background: #333333;
}

.custom-navbar.light-nav {
    background: transparent;
}

.custom-navbar-header {
    display: flex;
    margin-left: 80px;
}

.custom-navbar-brand {
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.3px;
    font-family: 'Homemade Apple', cursive;
}

.custom-navbar-brand:hover {
    color: #fff;
}

.custom-navbar ul.custom-nav-item {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 80px;
}

.custom-navbar li {
    position: relative;
    display: flex;
}

.custom-navbar li a:not(.nav-btn) {
    position: relative;
    display: block;
    padding: 25px 25px 23px 25px;
    line-height: 20px;
    color: #ababab;
    border-bottom: 2px solid transparent;
}

.custom-navbar li a:not(.nav-btn):hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.custom-navbar li a.nav-btn {
    position: relative;
    display: block;
    line-height: 20px;
    color: #ababab;
}

.custom-navbar li a.nav-btn:hover {
    color: #fff;
}

.nav-btn-icon {
    width: 17px;
    margin-left: 20px;
    /* filter: grayscale(0); */
    transition: 0.2s all;
}

.nav-btn-icon:hover {
    filter: grayscale(0.5);
}

/* parallax */

.parallax-window {
    height: 450px;
    background: transparent;
}

.parallax-window .typo {
    padding-top: 70px;
}

.parallax-window .typo h1 {
    color: #fff;
    font-size: 15em;
    mix-blend-mode: difference;
    font-weight: bold;
}

.parallax-window .typo p {
    color: #fff;
    font-size: 2em;
    mix-blend-mode: difference;
}

/* intro */

section#intro {
    width: 100%;
}

#intro .title {
    padding-top: 60px;
    padding-bottom: 20px;
}

#intro div p {
    width: 75%;
}

#intro div p strong {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 4em;
    line-height: 75px;
}

/* flexbox */

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: white;
    /* Added new */
    padding: 5px;
    /* Added new */
}

.image-container {
    height: 100%;
    width: 25%;
    /* 25%; */
    display: flex;
    position: relative;
    background: #fff;
    display: block;
    outline: none;
    padding: 10px;
    /* Added new */
}

.image-container .image {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.image-container .overlay {
    display: flex;
    opacity: 0;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    -webkit-transition: 0.2s opacity ease-in-out;
    transition: 0.2s opacity ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: linear-gradient(to left, #554346, #45505b) !important;
}

.image-container:hover .overlay {
    opacity: .9;
}

#galleryList #item {
    /* display: none; */
}

#nogalleryList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nogalleryList img {
    width: 300px;
}

#nogalleryList h3 {
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.loadmore-container {
    padding: 20px;
}

#loadMore {
    padding: 10px 20px;
    color: #ababab;
    border: 2px solid #ababab;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

#loadMore:hover {
    color: white;
    border: 2px solid white;
}

section#contact {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#contact div p {
    width: 75%;
}

#contact div p strong {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 4em;
    line-height: 75px;
}

#contact .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact input {
    width: 100%;
    padding: 10px;
}

#contact textarea {
    padding: 10px;
    width: 100%;
    resize: none;
}

#contact .sendBtn {
    border: 1px solid #fff;
    border-radius: 20px;
    min-width: 130px;
    color: #ababab;
    transition: 0.2s;
}

#contact .sendBtn:hover {
    background: #fff;
    color: #333333;
}

#myKit {
    width: 100%;
    height: 100%;
    background: #fff;
    padding-bottom: 20px;
    padding-top: 60px;
}

#myKit .title {
    padding-bottom: 10px;
}

#myKit .row {
    margin: auto;
    width: 80%;
}

#myKit div p {
    width: 75%;
}

#myKit div p strong {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 4em;
    line-height: 75px;
}

#myKit .card {
    height: 250px;
}

#myKit #camera {
    width: 210px;
}

#myKit #lens1 {
    width: 130px;
}

#myKit #lens2 {
    width: 130px;
}

#myKit #lens3 {
    width: 100px;
}

footer {
    padding: 20px 0px;
}

.gotoTop {
    margin-bottom: 40px;
}

.gotoTop .icon-container {
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid transparent;
    transition: 0.2s all;
}

.gotoTop .icon-container:hover {
    border: 1px solid #fff;
}

.gotoTop .icon-container svg {
    font-size: 2em;
    transition: 2s;
}

.gotoTop p {
    color: #fff;
    letter-spacing: 0.3px;
    word-spacing: 3px;
}

footer .copy p {
    color: #ababab;
    letter-spacing: 0.3px;
    word-spacing: 3px;
    font-size: 0.8em;
}

footer .copy p a {
    color: #ababab;
    text-decoration: underline;
    text-decoration-style: dotted;
}

footer .copy p a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-style: solid;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 16px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


/* css for send button */
button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

button:hover {
    color: white;
    background: #1ecd97;
}

button:active {
    letter-spacing: 2px;
}

button:after {
    content: "SEND";
}

.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    background: transparent;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
    content: "";
}

.onclic:hover {
    color: #1ecd97;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}

.validate:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* ----------------------------------------------------------------
----------------------- mobile css --------------------------------
-----------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .custom-navbar-header {
        display: flex;
        margin-left: 30px;
    }

    .custom-navbar ul.custom-nav-item {
        margin-right: 30px;
    }

    .nav-btn-icon {
        width: 20px;
        margin-left: 20px;
    }

    .parallax-window {
        height: 80vh;
    }

    .parallax-window .typo p {
        font-size: 1.7em;
        padding: 0px 10px;
    }

    #intro .title {
        padding-top: 40px;
    }

    #intro div p {
        width: 90%;
    }

    #intro div p strong {
        letter-spacing: 0.3px;
        font-size: 2em;
        line-height: 45px;
    }

    .image-container {
        width: 50%;
    }

    section#contact {
        padding-top: 40px;
    }

    #contact>div>p {
        width: 90%;
    }

    #contact div p strong {
        letter-spacing: 0.3px;
        font-size: 2em;
        line-height: 45px;
    }

    #contact div p {
        float: none !important;
        width: 100%;
    }

    #contact .row>div:first-of-type {
        margin-bottom: 15px;
    }

    #myKit {
        padding-top: 40px;
    }

    #myKit div {
        padding-bottom: 10px;
    }

    #myKit div p {
        width: 90%;
    }

    #myKit div p strong {
        letter-spacing: 0.3px;
        font-size: 2em;
        line-height: 45px;
    }

    #myKit .card {
        height: 160px;
        margin-top: 20px;

    }

    #myKit #camera {
        width: 200px;
    }

    #myKit #lens1 {
        width: 120px;
    }

    #myKit #lens2 {
        width: 100px;
    }
}

/* ----------------------------------------------------------------
----------------------- tablet css --------------------------------
-----------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .custom-navbar-header {
        display: flex;
        margin-left: 30px;
    }

    .custom-navbar ul.custom-nav-item {
        margin-right: 30px;
    }

    .parallax-window {
        height: 600px;
    }

    .parallax-window .typo h1 {
        color: #fff;
        font-size: 18em;
        mix-blend-mode: difference;
    }

    .parallax-window .typo p {
        width: 70%;
        margin-left: 15%;
    }

    #intro div {
        padding-top: 40px;
    }

    #intro div p {
        width: 90%;
    }

    #intro div p strong {
        letter-spacing: 0.3px;
        font-size: 3em;
        line-height: 70px;
    }

    .image-container {
        width: 33.33333%;
    }

    section#contact {
        padding-top: 40px;
    }

    #contact>div>p {
        width: 90%;
    }

    #contact div p strong {
        letter-spacing: 0.3px;
        font-size: 3em;
        line-height: 70px;
    }

    #contact div p {
        float: none !important;
        width: 100%;
    }

    #myKit {
        padding-top: 40px;
    }

    #myKit .title {
        padding-bottom: 10px;
    }

    #myKit div p {
        width: 90%;
    }

    #myKit div p strong {
        letter-spacing: 0.3px;
        font-size: 3em;
        line-height: 70px;
    }

    #myKit .card {
        height: 250px;
    }

    #myKit .row {
        width: 90%;
    }

    #myKit #camera {
        width: 250px;
    }

    #myKit #lens1 {
        width: 150px;
    }

    #myKit #lens2 {
        width: 120px;
    }
}

/* ----------------------------------------------------------------
----------------------- Full HD css --------------------------------
-----------------------------------------------------------------*/

@media only screen and (min-width: 1920px) {
    .parallax-window {
        height: 800px;
    }

    .parallax-window .typo h1 {
        color: #fff;
        font-size: 30em;
        mix-blend-mode: difference;
    }

    #intro .title {
        padding-bottom: 60px;
    }

    #intro div p strong {
        letter-spacing: 0.3px;
        font-size: 4em;
        line-height: 70px;
    }

    #contact div p strong {
        letter-spacing: 0.3px;
        font-size: 4em;
        line-height: 70px;
    }

    #contact div p {
        float: none !important;
        width: 100%;
    }

    #myKit div p strong {
        letter-spacing: 0.3px;
        font-size: 4em;
        line-height: 70px;
    }
}